<div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="authentication-form">
                <div class="Login" ng-hide="false">
                    <p><img src="png/FlameLogo.png">Login</p>
                </div>
                <div class="login-form col-lg-12 col-xs-12">
                    <form name="form" ng-submit="authentication.Login(authentication.user)" class="form-input" ng-hide="authentication.markup.FirstSubmitStepInput">
                        <div class="col-lg-8 col-lg-offset-2 col-xs-8 col-xs-offset-2">
                            <input type="text" placeholder="Login" class="form-control login-input" ng-model="authentication.user.Login" ng-class="authentication.resultClass"/>
                        </div>
                        <div class="col-lg-8 col-lg-offset-2 col-xs-8 col-xs-offset-2">
                            <input type="password" placeholder="Password" class="form-control login-input" ng-model="authentication.user.Password"/>
                        </div>
                        <div class="form-actions col-lg-6 col-lg-offset-3 col-xs-6 col-xs-offset-3">
                            <button ng-disabled="authentication.banned" type="submit" class="btn btn-login">Login &#8594;</button>
                        </div>
                    </form>
                    <form name="SecondSubmitForm" ng-submit="authentication.SecondLoginStep(authentication.user)" class="form-input" ng-hide="authentication.markup.SecondSubmitStepInput">
                        <div class="col-lg-8 col-lg-offset-2 col-xs-8 col-xs-offset-2">
                            <p>Two step authentication required for this user login:</p>
                        </div>
                        <div class="col-lg-8 col-lg-offset-2 col-xs-8 col-xs-offset-2">
                            <input type="number" placeholder="Enter two step auth code" class="form-control HOTP-input" ng-model="authentication.user.Hotp"/>
                        </div>
                        <div class="form-actions col-lg-6 col-lg-offset-3 col-xs-6 col-xs-offset-3">
                            <button type="submit" class="btn btn-continue">Continue &#8594;</button>
                        </div>
                    </form>
                </div>
                <div class="additional-block col-lg-12 col-xs-12" ng-hide="authentication.markup.AdditionalBlock">
                    <p>This button will appear instead of &#171;Login&#187; when waiting reply from the server</p>
                    <div class="col-lg-6 col-lg-offset-3 col-xs-6 col-xs-offset-3">
                        <button type="button" class="btn btn-load"><span class="glyphicon glyphicon-cog"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>